html, body {
  height: 100%;
  width: 100%;
      font-family: 'Oswald', sans-serif;
    background-color: #52507c;
    text-align: center;
}

img {
    width: 400px;
}
.firstanswer{display: none;}

.secondanswer{display: none;}

.thirdanswer{display: none;}

.fourthanswer{display: none;}

.sidekick{display: none;}